.customer{
    height:82vh;
    display:flex;
  
}

.customer-name{

    background-color: rgba(196, 196, 196, 0.21);
    flex:0.5;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-right: 3vw;
    
}

.customer-card{
    width:5vw;
    height: 5vh;
    flex:0.5;
    margin-left:3vw;
    margin-top: 5vh;
}
.customer-title{
    font-size:25px;
}
.customer-body{
    margin-top: 10vh;
    font-size:3vh;
    padding-top: 1vh;
    
}
.customer-info{
    padding-top: 3vh;
}
.bton{
    padding: 0.5rem;
    background-color: #fff;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;  
}
.customer-password{
    font-size:25px;
}